{% extends 'base.html.twig' %}




{% block body %}

<div class="container-fluid d-flex">


  <div class="container col-3 d-flex align-items-start justify-content-start" style="height:25vh">

    {{ form(categoryForm) }}
  
  </div>
    <div class="container col-9 d-flex align-items-start" style="height:25vh">
    
        <table class="table">
            <thead>
              <tr>
                <th>Category name</th>
                <th>Category image</th>
        
              </tr>
            </thead>
            <tbody>
                {% for category in categories %}
              <tr>
                <td>{{ category.name }}</td>
                <td><img height="50vh;" width="50vw;" alt="" src="{{ category.image }}"></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>

<div class="container-fluid d-flex">

  <div class="row d-flex justify-content-around">
    <div class="col-5 form m-4">
        <h2 class="text-center" style="font-style: italic; color: white">Formulaire project</h2>

        {{ form_start(skillForm) }}

        {{ form_label(skillForm.name,null, {'label_attr': {'class': 'red-bg', 'style': 'color : white'} }) }}
        <p>{{ form_widget(skillForm.name, {'attr': {'placeholder': 'projet'}}) }}</p>

        {{ form_label(skillForm.description,null, {'label_attr': {'class': 'red-bg', 'style': 'color : white'} }) }}
        <p>{{ form_widget(skillForm.description, {'attr': {'placeholder': 'description'}}) }}</p>


        {{ form_end(skillForm) }}
    </div>


</div>




{% endblock %}